In [1]:
import pandas as pd

In [4]:
crimeDB = pd.read_csv('MCI_2014_to_2019.csv')

In [6]:
crimeDB.head()

,X,Y,Index_,event_unique_id,occurrencedate,reporteddate,premisetype,ucr_code,ucr_ext,offence,...,occurrencedayofyear,occurrencedayofweek,occurrencehour,MCI,Division,Hood_ID,Neighbourhood,Lat,Long,ObjectId
0,-8.840549e+06,5.431712e+06,201,GO-20141301077,2014/01/07 05:00:00+00,2014/01/07 05:00:00+00,Other,1420,100,Assault With Weapon,...,7.0,Tuesday,22,Assault,D32,36,Newtonbrook West (36),43.781639,-79.416,1
1,-8.840549e+06,5.431712e+06,202,GO-20141301077,2014/01/07 05:00:00+00,2014/01/07 05:00:00+00,Other,1420,100,Assault With Weapon,...,7.0,Tuesday,22,Assault,D32,36,Newtonbrook West (36),43.781639,-79.416,2
2,-8.840549e+06,5.431712e+06,203,GO-20141301077,2014/01/07 05:00:00+00,2014/01/07 05:00:00+00,Other,1420,100,Assault With Weapon,...,7.0,Tuesday,22,Assault,D32,36,Newtonbrook West (36),43.781639,-79.416,3
3,-8.840549e+06,5.431712e+06,204,GO-20141301077,2014/01/07 05:00:00+00,2014/01/07 05:00:00+00,Other,1420,100,Assault With Weapon,...,7.0,Tuesday,22,Assault,D32,36,Newtonbrook West (36),43.781639,-79.416,4
4,-8.839881e+06,5.413806e+06,205,GO-20141300854,2014/01/07 05:00:00+00,2014/01/07 05:00:00+00,Commercial,2120,200,B&E,...,7.0,Tuesday,21,Break and Enter,D14,79,University (79),43.665390,-79.410,5

In [21]:
crimeDB2 = crimeDB.drop(columns=['X', 'Y', 'Index_', 'occurrencedate', 'ucr_code', 'ucr_ext', 'reporteddayofyear',
                      'occurrencedate', 'occurrenceyear', 'occurrencemonth', 'occurrencedayofyear', 
                      'occurrencedayofweek', 'occurrencehour'] )
crimeDB2.head()

,event_unique_id,reporteddate,premisetype,offence,reportedyear,reportedmonth,reportedday,reporteddayofweek,reportedhour,occurrenceday,MCI,Division,Hood_ID,Neighbourhood,Lat,Long,ObjectId
0,GO-20141301077,2014/01/07 05:00:00+00,Other,Assault With Weapon,2014,January,7,Tuesday,22,7.0,Assault,D32,36,Newtonbrook West (36),43.781639,-79.416,1
1,GO-20141301077,2014/01/07 05:00:00+00,Other,Assault With Weapon,2014,January,7,Tuesday,22,7.0,Assault,D32,36,Newtonbrook West (36),43.781639,-79.416,2
2,GO-20141301077,2014/01/07 05:00:00+00,Other,Assault With Weapon,2014,January,7,Tuesday,22,7.0,Assault,D32,36,Newtonbrook West (36),43.781639,-79.416,3
3,GO-20141301077,2014/01/07 05:00:00+00,Other,Assault With Weapon,2014,January,7,Tuesday,22,7.0,Assault,D32,36,Newtonbrook West (36),43.781639,-79.416,4
4,GO-20141300854,2014/01/07 05:00:00+00,Commercial,B&E,2014,January,7,Tuesday,21,7.0,Break and Enter,D14,79,University (79),43.665390,-79.410,5

In [25]:
df1 = crimeDB2.drop_duplicates("event_unique_id")
df1.head()

,event_unique_id,reporteddate,premisetype,offence,reportedyear,reportedmonth,reportedday,reporteddayofweek,reportedhour,occurrenceday,MCI,Division,Hood_ID,Neighbourhood,Lat,Long,ObjectId
0,GO-20141301077,2014/01/07 05:00:00+00,Other,Assault With Weapon,2014,January,7,Tuesday,22,7.0,Assault,D32,36,Newtonbrook West (36),43.781639,-79.416,1
4,GO-20141300854,2014/01/07 05:00:00+00,Commercial,B&E,2014,January,7,Tuesday,21,7.0,Break and Enter,D14,79,University (79),43.665390,-79.410,5
5,GO-20141310106,2014/01/09 05:00:00+00,Apartment,B&E,2014,January,9,Thursday,11,9.0,Break and Enter,D22,14,Islington-City Centre West (14),43.646061,-79.531,6
6,GO-20141351494,2014/01/16 05:00:00+00,Apartment,Assault,2014,January,16,Thursday,0,16.0,Assault,D11,90,Junction Area (90),43.663498,-79.462,7
7,GO-20141351916,2014/01/16 05:00:00+00,Commercial,Assault,2014,January,16,Thursday,2,16.0,Assault,D52,76,Bay Street Corridor (76),43.657040,-79.381,8

In [27]:
df1.to_csv("Toronto_crime.csv")

In [29]:
df1.dtypes

event_unique_id       object
reporteddate          object
premisetype           object
offence               object
reportedyear           int64
reportedmonth         object
reportedday            int64
reporteddayofweek     object
reportedhour           int64
occurrenceday        float64
MCI                   object
Division              object
Hood_ID                int64
Neighbourhood         object
Lat                  float64
Long                 float64
ObjectId               int64
dtype: object

In [35]:
df1['offence'].nunique()

48

In [34]:
df1['offence'].unique()

array(['Assault With Weapon', 'B&E', 'Assault', 'Robbery - Business',
       'Assault - Resist/ Prevent Seiz', 'Robbery With Weapon',
       'Robbery - Other', 'Theft Over', "B&E W'Intent",
       'Robbery - Swarming', 'Robbery - Mugging',
       'Discharge Firearm - Recklessly', 'Assault Bodily Harm',
       'Theft From Motor Vehicle Over', 'Robbery - Home Invasion',
       'Aggravated Assault', 'Use Firearm / Immit Commit Off',
       'Robbery - Taxi', 'Robbery - Purse Snatch',
       'Discharge Firearm With Intent', 'Unlawfully In Dwelling-House',
       'Assault Peace Officer', 'Robbery - Financial Institute',
       'Pointing A Firearm', 'Theft Over - Shoplifting',
       'Robbery - Delivery Person', 'B&E Out',
       'Assault - Force/Thrt/Impede', 'Theft From Mail / Bag / Key',
       'Assault Peace Officer Wpn/Cbh', 'Administering Noxious Thing',
       'Crim Negligence Bodily Harm', 'Robbery - Vehicle Jacking',
       'Air Gun Or Pistol: Bodily Harm', 'Theft Over - Distraction',
       'Theft - Misapprop Funds Over', 'Robbery - Atm',
       'Disarming Peace/Public Officer', 'Aggravated Aslt Peace Officer',
       'Robbery - Armoured Car', 'Unlawfully Causing Bodily Harm',
       'Aggravated Assault Avails Pros', 'Theft Of Utilities Over',
       'B&E - To Steal Firearm', 'Theft Of Motor Vehicle',
       'Theft Over - Bicycle', 'Traps Likely Cause Bodily Harm',
       'B&E - M/Veh To Steal Firearm'], dtype=object)